<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <meta http-equiv="Content-Type" content="text/html; charset=gb18030">
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>PQRD</title>

        <link href="/bundles/helpdesk/css/bootstrap.min.css" rel="stylesheet">
        <!-- Bootstrap Core CSS -->
        <link href="/libs/helpdesk/css/bootstrap.min.css" rel="stylesheet">

        <!-- MetisMenu CSS -->
        <link href="/libs/helpdesk/css/metisMenu.min.css" rel="stylesheet">

        <!-- Timeline CSS -->
        <link href="/libs/helpdesk/css/timeline.css" rel="stylesheet">


        <!-- Custom CSS -->
        <link href="/libs/helpdesk/css/sb-admin-2.css" rel="stylesheet">

        <!-- Morris Charts CSS -->
        <link href="/libs/helpdesk/css/morris.css" rel="stylesheet">

        <link href="/libs/helpdesk/css/body.css" rel="stylesheet">

        <!-- Custom Fonts -->
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
        
        {% endblock %}
    </body>
</html>
