{% extends 'base.html.twig' %}


{% block body %}
      <nav class="navbar navbar-default" style="background-color: #FFFFFF">              
                <div class="mainheader ">
                    <div class="row" style="width: 100%;">
                        <div class="col-md-12">
                                    <a href="http://www.corpochivor.gov.co">
                                        <div class="logo">
                                        <img class="img-responsive" width="440" height="145" alt="" src="http://pqrd2.corpochivor.gov.co/libs/helpdesk/img/logo.png">
                                        </div>
                                    </a>
                        <img class="pull-right" alt="" src="/libs/helpdesk/img/prosperidad1.png">
                        <img class="pull-right" alt="" src="/libs/helpdesk/img/gobierno-en-linea-1.png">
                        </div>
                    </div>
                </div>
              <!---  Header      -->
                <div class="container-fluid minav">
                    <div class="navbar-header site-desktop-menu">
                        <button aria-expanded="false" data-target="#bs-example-navbar-collapse-6" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="http://forestal.infoonline.com.co" class="navbar-brand"></a> </div>
                    <div id="bs-example-navbar-collapse-6" class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li class=""><a href="http://www.corpochivor.gov.co">Inicio</a></li>
                            <li><a href="/login">Iniciar Sesión </a></li>                            
                    </ul>
                        </div>
                    </div>
                </nav>
      <div class="container-fluid">
      
               

 
                        
                      
          <div class="col-lg-12">      
        <div class="panel panel-default">
            <div class="panel-heading">
                <b>Nuevo PQRD</b>
            </div>
            <div class="panel-body">
                <form role="form" action="{{ url('form_submit') }}" method="POST" enctype="multipart/form-data" id="formdatos">
                      
                    <div class="form-group">
                        <label>Tipo Solicitud</label>
                        <select name="demandType" class="form-control">
                            <option value="1">Petición en interés general y particular</option>
                            <option value="3">Petición de Información</option>
                            <option value="4">Petición de Documentación</option>
                            <option value="5">Petición de Consultas</option>
                            <option value="6">Quejas</option>
                            <option value="7">Reclamos</option>
                            <option value="8">Sugerencias</option>
                        </select>
                    </div>
               
                    <div class="form-group">
                          <label>Medio de Respuesta</label>
                          <select name="contactType" class="form-control" onchange="handleContact(this);">
                              <option value="#">Seleccione..</option>
                              <option value="mail">Email</option>
                              <option value="adress">Direccion</option>
                          </select>
                    </div>
       

                    <div class="form-group" id="user-adress">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                          <label class="form-check-label" for="defaultCheck1">
                            Direccion
                          </label>
                        </div>
                          <input type="text" name="adress" class="form-control">
                    </div>


                    <div class="form-group" id="user-mail">
                          <label>Correo Electronico</label>
                          <input type="text" name="mail" class="form-control" required>
                    </div>

                    <div class="form-group">
                        <label>Numero Documento</label>
                        <input type="hidden" name="numdoc" id="numdoc" class="form-control">
                        <input type="text" name="documento" id="documento" class="form-control" required="">
                    </div>
           
                    <div class="form-group">
                          <label>Asunto</label>
                          <input type="text" name="subject" class="form-control" required="">
                    </div>
            <div class="form-group">
                          <label>Detalle su Peticion</label>
                          <textarea name="message" class="form-control" required=""></textarea>
                    </div>
                
                    <div class="form-group">
                        <label>Adjuntar Archivos</label>
                        <input type="file" multiple="" name="attachments[]" class="form-control">
                        <input type="file" multiple="" name="attachments1[]" class="form-control">
                        <input type="file" multiple="" name="attachments2[]" class="form-control">
                    </div>
                   
                        <br><br>                
                    <input type="button" class="btn btn-primary" value="Enviar" id="enviar">
                </form>
            </div>
        </div>

    </div>

      </div>

        <script type="text/javascript" async="" src="https://www.gstatic.com/recaptcha/api2/v1529908317173/recaptcha__es.js"></script><script src="/libs/helpdesk/js/jquery.min.js"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="/libs/helpdesk/js/bootstrap.min.js"></script>
        <script>
        $(document).ready(function(){
        $('body').on('click','.closemodal',function (){
        $('#modalmsg').css("display", "none");
        });
        });
        </script>


          <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
     <script src="https://www.google.com/recaptcha/api.js" async="" defer=""></script>

<script>
function handleContact(item)
{
    var contact = $(item).val();
    if(contact =='adress')
    {
        $("#user-mail input[type=text]").prop("required",false);
        $("#user-mail").hide();
        $("#user-adress input[type=text]").prop("required",true);
        $("#user-adress").show();

    }
    else
    {   $("#user-adress input[type=text]").prop("required",false);
        $("#user-adress").hide();
        $("#user-mail input[type=text]").prop("required",true);
        $("#user-mail").show();
       
    }
}

$(document).ready(function(){

$("#enviar").bind("click", function(){
		console.log("buscar");
	$.post("/solicitante/documento",{term:$("#documento").val()}).done(
function(data){
   if(data == false){
	alert("Numero de documento no registrado");
	$("#documento").val('');
	$("#documento").focus();
return false;
}else{
	$("#formdatos").submit();
}


});

});




/*    var NoResultsLabel = "No existe el documento ingresado";

    $('#documentona').autocomplete({

        source: function (request, response) { //
            $.ajax({
                url: '/solicitante/documento',
                dataType: "json",
                data: {
                    //request.term is the value of the current textbox.
                    term: request.term,
                },
                success: function (data) {
                    if (!data.length) {
                        data = [NoResultsLabel];
                        response(data);
                    }else{
                        response($.map(data, function (item) {
                            return {
                                label: item.documento + ' - ' + item.primerNombre +' '+(item.segundoNombre ? item.segundoNombre : "" )+' '+item.primerApellido+' '+(item.segundoApellido ? item.segundoApellido : "" ),
                                value: item.id
                            }
                        }));
                    }
                },
            });
        },
        minLength: 3,
        select: function (event, ui) {
            if (ui.item.label === NoResultsLabel) {
                event.preventDefault();
            }else {
                $('#numdoc').val(ui.item.value);
                $('#documento').val(ui.item.label);
                return false;
            }
        },
        focus: function (event, ui) {
            if (ui.item.label === NoResultsLabel) {
                event.preventDefault();
                $('#documento').val("");
            }
        }
    });*/
});

</script>
    

{% endblock %}
